# Font configuration (changes require restart)
font:
  # The normal (roman) font face to use.
  # Style can be specified to pick a specific face.

  normal:
    family: 'CaskaydiaCove Nerd Font Mono'
    style: Regular

  # The bold font face
  bold:
    family: 'CaskaydiaCove Nerd Font Mono'
    style: Medium

  # The italic font face
  italic:
    family: 'CaskaydiaCove Nerd Font Mono'
    style: Italic

  # Point size of the font
  size: 16.5

  # Offset is the extra space around each character. offset.y can be thought of
  # as modifying the linespacing, and offset.x as modifying the letter spacing.
  offset:
    x: 0
    y: 0

  # Glyph offset determines the locations of the glyphs within their cells with
  # the default being at the bottom. Increase the x offset to move the glyph to
  # the right, increase the y offset to move the glyph upward.
  glyph_offset:
    x: 0
    y: 0
