bundle/cache
config/vifm/vifminfo
config/vifm/vifminfo.json
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage

# ignore sumenko lua generated artifact
.luarc.json

# ignore tmuxinator files since they are workstation specific
config/tmuxinator/*.yml

# do not commit history - may contain sensitive data
config/nushell/history.*
# ignore local nushell environment settings
config/nushell/env.local.nu
