bundle/cache
config/vifm/vifminfo
config/vifm/vifminfo.json
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage

# ignore sumenko lua generated artifact
.luarc.json

# ignore tmuxinator files since they are workstation specific
config/tmuxinator/*.yml

# ignore Claude cache files
config/claude/statsig/
config/claude/projects/
config/claude/todos/
