[metadata]
name = "git-diff"
description = "A channel to select files from git diff commands"
requirements = ["git"]

[source]
command = "{ git diff --name-only HEAD; git ls-files --others --exclude-standard; }"

[preview]
command = "if git ls-files --error-unmatch '{}' 2>/dev/null; then git diff HEAD --color=always -- '{}'; else bat --color=always '{}'; fi"
