snippet muv "Model View Update Boilerplate" b
-- MODEL

type alias Model = { ... }

-- UPDATE

type Action = Reset | ...

update : Action -> Model -> Model
update action model =
  case action of
    Reset -> ...
    ...

-- VIEW
view : Model -> Html
view =
  ...
endsnippet
