name: CI

on:
  push:
    branches: [master]

  pull_request:

jobs:
  yaml-lint:
    name: 'Lint: Yaml'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run yamllint
        uses: karancode/yamllint-github-action@v2.1.1
        with:
          yamllint_file_or_dir: '.'
          yamllint_strict: true
          yamllint_config_filepath: config/yamllint/config

  lua-formatting:
    name: 'Format: Lua'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run stylua check
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: 0.20.0
          args: --check .

  lua-diagnotics:
    name: 'Diagnostics: Lua'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3

      - name: ASDF Plugin Add
        run: |
          asdf plugin add lua-language-server

      - name: ASDF Install
        run: |
          asdf install lua-language-server latest
          asdf global lua-language-server latest

      - name: Run Diagnostics Check
        run: |
          lua-language-server --check config/nvim/lua --checklevel=Warning

  shell-lint:
    name: 'Lint: Shell'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@b2bbefc2e6b9dcbc6355b85e366c9e55bf8d57e1
        with:
          ignore_paths: './iterm/TerminalVim.app/'
          ignore_names: '*/**/*.zsh zshrc'

  spelling:
    name: 'Lint: Spelling'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check spelling in code
        # yamllint disable-line rule:line-length
        uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630
