name: CI

on:
  push:
    branches: [master]

  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  # this step was added to avoid cache write conflicts between steps
  mise:
    name: 'Mise Install + Cache'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE (and cache)
        uses: jdx/mise-action@v2.3.1

  yaml-lint:
    name: 'Lint: Yaml'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@v2.3.1

      - name: Run yamllint
        run: task ci:yaml:lint

  formatting:
    name: 'Check Formatting'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@v2.3.1

      - name: Format check
        run: task ci:format:check

  lua-diagnostics:
    name: 'Diagnostics: Lua'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@v2.3.1
        with:
          reshim: true

      - name: Run Diagnostics Check
        run: task ci:lua:lint

  shell-lint:
    name: 'Lint: Shell'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@v2.3.1

      - name: Run Diagnostics Check
        run: task ci:shell:lint

  spelling:
    name: 'Lint: Spelling'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@v2.3.1

      - name: Run Diagnostics Check
        run: task ci:spelling:lint
