# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: CI

on:
  push:
    branches: [master]

  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  # this step was added to avoid cache write conflicts between steps
  mise:
    name: 'Mise Install + Cache'

    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libreadline-dev

      - name: Install Runtimes w/ MISE (and cache)
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a

  yaml-lint:
    name: 'Lint: Yaml'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a

      - name: Run yamllint
        run: task ci:yaml:lint

  formatting:
    name: 'Check Formatting'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a

      - name: Format check
        run: task ci:format:check

  lua-diagnostics:
    name: 'Diagnostics: Lua'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a
        with:
          reshim: true

      - name: Run Diagnostics Check
        run: task ci:lua:lint

  shell-lint:
    name: 'Lint: Shell'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a

      - name: Run Diagnostics Check
        run: task ci:shell:lint

  spelling:
    name: 'Lint: Spelling'

    runs-on: ubuntu-latest
    needs: mise
    if: always()

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Runtimes w/ MISE
        uses: jdx/mise-action@70d7607baefba9eee49fd86c2783b8a414ffb43a

      - name: Run Diagnostics Check
        run: task ci:spelling:lint
